In [1]:
### test z typow danych 
## prosze bez kodowania odpowiedziec na pytania o wartosc wyrazenia a potem sprawdzic kodujac wyrazenie 

# 4 * (6 + 5)
# 4 * 6 + 5 
# 4 + 6 * 5

In [2]:
# jaki jest typy danych jako rezultat operacji 3 + 1.5 + 4

In [3]:
# Answer: Floating Point Number

In [4]:
# Square root:
100 ** 0.5

10.0

In [5]:
# Square:
10 ** 2

100

In [6]:
# Strings
# majac string 'hello' prosze za pomoca indexowania zwrocic 'return' litere 'e'

In [7]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

In [8]:
# prosze obrocic 'reverse' kolejnosc zmiennej typu string za pomoca slicing'u
s = 'hello'
s[::-1]

'olleh'

In [9]:
# prosze podac dwa spsoby uzyskania litery 'o' uzywajac indexowanie 
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [10]:
s[4]

'o'

In [11]:
# listy 
# prosze o utworzenie listy [0,0,0] na dwa sposoby; jeden z nich - uzyj operatora mnozenia

In [12]:
# 1 metoda 
[0]*3

[0, 0, 0]

In [13]:
# metoda 2 
lista2 = [0,0,0]

In [14]:
lista2

[0, 0, 0]

In [15]:
# w ponizszej zagnieżdżonej ('nested') liscie prosze o przypisanie 'reassign' wartosci 'hello' - -- wartosci 'goodbye'

In [16]:
list3 = [1,2,[3,4,'hello']]

In [17]:
list3[2][2] = 'goodbye'

In [18]:
list3

[1, 2, [3, 4, 'goodbye']]

In [19]:
# prosze o posortowanie ponizszej listy 
lista4 = [5,3,4,6,1]

In [20]:
lista4.sort()

In [21]:
lista4

[1, 3, 4, 5, 6]

In [22]:
# inna metoda 
sorted(lista4)

[1, 3, 4, 5, 6]

In [23]:
# dictionaries 
# w ponizszym slowniku prosze o zwrocenie wartosci 'hello'

d = {'simple_key' : 'hello'}

In [24]:
d['simple_key']

'hello'

In [25]:
d = {'k1':{'k2':'hello'}}

In [26]:
d['k1']['k2']

'hello'

In [27]:
# troszke BARDZIEJ skomplikowane 
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [28]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [29]:
# to bylo ciezsze niz myslem

In [30]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [31]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [32]:
#Can you sort a dictionary? Why or why not?

# Answer: No! Because normal dictionaries are mappings not a sequence.

In [33]:
# tuples 
# jaka jest glowna roznica pomiedzy tuple i lista 
# tuples sa immutable!!! czyli niezmienne

In [34]:
# podaj przyklad tuple

In [35]:
t = (1,2,3)

In [36]:
# zbiory

In [37]:
# co jest UNIKALNEGO w danych typu zbior (set)
# NIE POZWALAJAC NA DUPLIKATY

In [38]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [39]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [40]:
# porosze o odpiwedz przd wykonaniem wyrazenia w komorce

In [41]:
2 > 3

False

In [42]:
3 <= 2

False

In [43]:
3.0 == 3

True

In [44]:
4**0.5 != 2

False

In [45]:
# jaki jest wartosci booleanska ponizszego wyrazenia

In [46]:
# dwie nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False